.content {
    width: calc(100% - #{$sidebar-size-default});
    right: 0;
    position: absolute;
    height: 100%;

    display: grid;
    grid-template-columns: 70% 30%;
}

@media screen and (max-width: 1024px) {
    .content {
        grid-template-columns: 60% 40%;
    }
}

@media screen and (max-width: 1110px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}